.center {
    display: block;
    margin: auto;
    width: 100%;
   }
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ion-content{

    --ion-background-color:#3B3B38;
}
.logo {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}
.menu1 {
    display: block;
    margin: auto;
}
ion-card {
    position: relative;
    text-align: center;
}
.cardtitle {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}
