<ion-content text-center>
  
  <div class="vertical-center">
    <div class="center">
      <ion-img class="logo" src="assets/img/TheRouseLogo.png"></ion-img>
      <ng-container>
        <ion-card href="http://localhost:8100/menuinicio">
          <img src="assets/img/platoprincipal.jpg/">
          <div class="cardtitle">PLATO PRINCIPAL</div>
        </ion-card>
        <ion-card href="http://localhost:8100/menubebidas">
          <img src="assets/img/cocteles.jpg/">
          <div class="cardtitle">COCTELES</div>
        </ion-card>
        <ion-card href="http://localhost:8100/menupostres">
          <img src="assets/img/postres.jpg/">
          <div class="cardtitle">POSTRES</div>
        </ion-card>
        <ion-list style="text-align:center">
                <ion-button color=danger href="http://localhost:8100/home"> INICIO </ion-button>
              </ion-list>
       <br> 
        </ng-container>
    </div>
  </div>

</ion-content>
