<ion-header>
  <ion-toolbar>
    <ion-title>Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="formulario">
<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Apellido</ion-label>
  <ion-input></ion-input>
</ion-item>
<br>
<ion-item>
  <ion-label>Fecha y Horario</ion-label>
  <ion-datetime displayFormat="D MMM YYYY H:mm" min="2021" max="2021"></ion-datetime>
</ion-item>
<br>
<ion-list>

  <ion-item>
    <ion-label>Sede</ion-label>
    <ion-select value="brown" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="brown">Pilar</ion-select-option>
      <ion-select-option value="red">San Isidro</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<br>
<ion-item>
  <iom-label>Comensales</iom-label>
    <ion-range min="1" max="12" step="1" snaps="true" color="warning" pin="true">
    <ion-label slot="start">1</ion-label>
    <ion-label slot="end">12</ion-label>
  </ion-range>
</ion-item>
</div>

<ion-item>
  <ion-label>Acepto términos y condiciones</ion-label>
  <ion-checkbox color=dark></ion-checkbox>
</ion-item>


</ion-content>
