<ion-content>
  <div class="vertical-center">
    <div class="center">
<ion-img src="assets/img/TheRouseLogo.png"></ion-img>

<h1>¡Haz tu reserva completando <br> el siguiente formulario!</h1>

<ion-item lines="full">
  <ion-label position="floating" >Nombre y Apellido</ion-label>
  <ion-input type="text" [(ngModel)]="nombreapellido"></ion-input>
</ion-item>

<ion-item lines="full">
  <ion-label position="floating">Documento de Identidad (DNI)</ion-label>
  <ion-input type="text" [(ngModel)]="dni" required></ion-input>
</ion-item>
<br>

<ion-item>
  <ion-label>Fecha y Horario</ion-label>
  <ion-datetime [(ngModel)]="fecha" displayFormat="D MMM H:mm" min=2021-11 max=2021-12 hourValues="18,19,20,21,22,23" minuteValues="00,15,30,45"></ion-datetime>
</ion-item>
<br>
<ion-list>

  <ion-item>
    <ion-label>Sede</ion-label>
    <ion-select vaokText="Aceptar" cancelText="Cancelar">
      <div *ngIf="datitosdepilar!=undefined">
      <ion-select-option>{{datitosdepilar.sede}}</ion-select-option>
      </div>

      <div *ngIf="datitosdesani!=undefined">
      <ion-select-option>{{datitosdesani.sede}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>

</ion-list>
<br>
<ion-list>

  <ion-item>
    <ion-label>Sector</ion-label>
    <ion-select vaokText="Aceptar" cancelText="Cancelar">
      <div *ngIf="sectorinterior!=undefined">
      <ion-select-option>{{sectorinterior.nombre}}</ion-select-option>
      </div>
      <div *ngIf="sectorbarra!=undefined">
      <ion-select-option>{{sectorbarra.nombre}}</ion-select-option>
    </div>
      <div *ngIf="sectorbarra!=undefined">  
      <ion-select-option>{{sectorgaleria.nombre}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>

</ion-list>
<br>
<ion-item>
  <ion-label>Personas</ion-label>
    <ion-range min="1" max="12" step="1" snaps="true" color="danger" pin="true">
    <ion-label slot="start">1</ion-label>
    <ion-label slot="end">12</ion-label>
  </ion-range>
</ion-item>

<ion-item>
  <ion-label>Acepto términos y condiciones</ion-label>
  <ion-checkbox color="dark"></ion-checkbox>
</ion-item>

<br>

<ng-container>
  <ion-list style="text-align:center">
          <ion-button (click)="actualizar()" color="danger" (click)="presentAlert()">Confirmar Reserva</ion-button>
          <br>
  </ion-list>
  </ng-container>

</div>
</div>
</ion-content>
