.center {
    display: block;
    margin: auto;
    width: 100%;
   }
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ion-content{

    --ion-background-color:#3B3B38;
}
.logo {
    width: 35%;
    height: 35%;
    display: block;
    margin: auto;
}
.menu1 {
    display: block;
    margin: auto;
}
