<ion-content text-center>
  
  <div class="vertical-center">
    <div class="center">
      <ion-img class="logo" src="assets/img/TheRouseLogo.png"></ion-img>
      <ion-img class="menu1" src="assets/img/menu2.jpg" class="ion-align-self-end">
      </ion-img>
      <ng-container>
        <ion-list style="text-align:center">
                <ion-button color=danger href="http://localhost:8100/menu"> ATRÁS </ion-button>
                <ion-button color=danger href="http://localhost:8100/home"> INICIO </ion-button>
        
        </ion-list>
        </ng-container>
    </div>
  </div>